.routerContainer {
    display: flex;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 80px;
}
html {
    height: 100vh;
  }
  
.root {
position: relative;
min-height: 100vh;
margin: 0;
}
  
body {
position: relative;
min-height: 100vh;
margin: 0;
}
  
